<header class="header">
  <div class="header__inner">
    <h1 class="header__logo"><a href="/"><img src="<%= rootPath %>/img/logo_header.svg" alt="Co-Work MdN"></a></h1>
    <button type="button" class="hamburger" id="hamburger">
      <span></span>
    </button>
    <nav class="gnav">
      <ul class="gnav__list">
        <li class="gnav__item"><a href="#service">サービス<span lang="en">Service</span></a></li>
        <li class="gnav__item"><a href="#price">料金プラン<span lang="en">Price</span></a></li>
        <li class="gnav__item"><a href="#access">アクセス<span lang="en">Access</span></a></li>
        <li class="gnav__item"><a href="#contact">お問い合わせ<span lang="en">Contact</span></a></li>
      </ul>
    </nav>
  </div>
  <!-- /.header-inner -->
</header>