<!-- <% path = '.'; %> -->

<!DOCTYPE html>
<html lang="en">
<!-- <%- include('common/_head'); %> -->

<body>
  <!-- <%- include('common/_header'); %>
  <%- include('common/_footer'); %> -->
</body>

</html>