<footer>
  <div class="footer">
    <div class="footer__inner">
      <div class="footer__profile">
        <p class="footer__logo"><img src="<%= path %>/img/logo_footer.svg" alt="Co-Work MdN"></p>
        <p class="footer__address">〒101-0051<br>
          東京都千代田区神田神保町1-105<br>
          03-0000-0000</p>
        <ul class="footer__sns">
          <li><a href="#"><img src="<%= path %>/img/ico_twitter.svg" alt="Twitter"></a></li>
          <li><a href="#"><img src="<%= path %>/img/ico_facebook.svg" alt="Facebook"></a></li>
        </ul>
      </div>
      <!-- /.footer__profile -->
      <ul class="footer__link01">
        <li><a href="#">サービス</a></li>
        <li><a href="#">料金プラン</a></li>
        <li><a href="#">アクセス</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
      <ul class="footer__link02">
        <li><a href="#">採用情報</a></li>
        <li><a href="#">運営会社</a></li>
        <li><a href="#">サイトポリシー</a></li>
        <li><a href="#">プライバシーポリシー</a></li>
      </ul>
    </div>
    <!-- /.footer__inner -->
  </div>
  <!-- /.footer -->
  <div class="footer">
    <small class="footer__copyright">&copy; 2020 Co-Work MdN. All Rights Reserved.</small>
  </div>
  <div class="footer__pagetop"><a href="#">ページの先頭へ戻る</a></div>
</footer>