@import "components/**"

$primary-color: #333;

body {
  color: $primary-color;
  line-height: 1.5;
}

.gradient {
  background-color: linear-gradient(90deg, #000 0%, #fff 100%);
}

.grid {
  display: grid;
}