/*----------------------------------
  カラー
------------------------------------*/
$c_main1: #d39e27;
$c_main2: #fcf7ed;
$c_sub1: #5ab43f;
$c_sub2: #eff8ec;
$c_white: #fff;
$c_black: #333;
$c_gray1: #f2f2f2;
$c_gray2: #ccc;
$c_gray3: #707070;
$c_gray4: #505050;
